<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{Plantilla/plantillaui}">
		

<head>
	<meta charset="utf-8">
   
</head>

<body>
	<div layout:fragment="contenido">
	
	
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th class="text-center">Opciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr class="odd">
                                <td>Airi Satou</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td class="text-center"> 
                                    <a href="#" class="btn btn-info btn-icon-split mr-4">
                                        <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
                                        <span class="text">Mostrar Mascotas</span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Jose Wall</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td class="text-center"> 
                                    <a href="#" class="btn btn-info btn-icon-split mr-4">
                                        <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
                                        <span class="text">Mostrar Mascotas</span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Pablo tou</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td class="text-center"> 
                                    <a href="#" class="btn btn-info btn-icon-split mr-4">
                                        <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
                                        <span class="text">Mostrar Mascotas</span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td>Mar gel</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td class="text-center"> 
                                    <a href="#" class="btn btn-info btn-icon-split mr-4">
                                        <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
                                        <span class="text">Mostrar Mascotas</span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
   

</body>

</html>