<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Plantilla/plantillaui}">

<head>
    <meta charset="utf-8">
    <title>Nueva Mascota - Animal Life</title>
</head>

<body>
    <div layout:fragment="contenido">

        <h1 class="h3 mb-4 text-gray-800">Registrar Mascota</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Datos de la Mascota</h6>
            </div>
            <div class="card-body">
                <form th:action="@{/Paciente/Guardar}" th:object="${paciente}" method="post" accept-charset="UTF-8">
                    
                    <input type="hidden" th:field="*{fkCliente.idCliente}">
                    <input type="hidden"  th:field="*{idPaciente}" required>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Ej: Estrella" th:field="*{nombre}" required>
                        </div>
                        <div class="col-sm-6">
                            <label>Especie</label>
                            <input type="text" class="form-control" placeholder="Ej: Perro" th:field="*{especie}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label>Raza</label>
                            <input type="text" class="form-control" placeholder="Ej: Pequines" th:field="*{raza}" required>
                        </div>
                       <div class="col-md-6 col-12">
					    <div class="form-group">
					        <label>Sexo</label>
					        <select class="form-control "  th:field="*{sexo}" required>
					            <option value="" selected>Seleccione Sexo</option>
					            <option value="Macho">Macho</option>
					            <option value="Hembra">Hembra</option>
					        </select>
					    </div>
					</div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label>Color</label>
                            <input type="text" class="form-control" placeholder="Ej: Café con manchas" th:field="*{color}" required>
                        </div>
                        <div class="col-sm-6">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" class="form-control" th:field="*{fechaNacimiento}" required>
                        </div>
                    </div>
                    
                    <hr>

                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                        <span class="text">Guardar</span>
                    </button>
                                      
                    <a th:href="@{/Paciente/Mostrarpaciente(idCliente=${idCliente})}" class="btn btn-secondary btn-icon-split ml-2">
                        <span class="icon text-white-50"><i class="fas fa-times"></i></span>
                        <span class="text">Cancelar</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>